@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

:root{
    --p-color: #4D9DE0;
    --s-color: #FFF275;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Quicksand', arial;
    scroll-behavior: smooth;
}

.p1{padding: 1rem;}
.p2{padding: 2rem;}
.p3{padding: 3rem;}

.p-1{padding: 1rem 0;}
.p-2{padding: 2rem 0;}
.p-3{padding: 3rem 0;}

.m1{margin: 1rem;}
.m2{margin: 2rem;}
.m3{margin: 3rem;}

.m-1{margin: 1rem 0 0 0;}
.m-2{margin: 2rem 0 0 0;}
.m-3{margin: 3rem 0 0 0;}

body{
    width: 100vw;
    height: auto;
    background-color: var(--p-color);
}

#container{
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.s-ninput{
    background: #fff;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align:center;
}

.style-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;
}


textarea#h-input{
    border: solid 2px var(--p-color);
    border-radius: 5px;
    width: 250px;
    height: 60px;
    margin-bottom: 1rem;
    resize: none;
}

label{
    padding-bottom: 0.5rem;
    align-self: flex-start;
}

textarea#g-minput{
    border: solid 2px var(--p-color);
    border-radius: 5px;
    width: 250px;
    height: 150px;
    resize: none;
}

.btn{
    padding: 0.5rem 1.5rem;
    background-color: var(--p-color);
    color: #fff;
    font-weight: bold;
    border:none;
    width: 250px;
    cursor: pointer;
}

main{
    display: flex !important;
} 
.s-notes{
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: flex-start;
}

.note{
    width: 30%;
    background-color: var(--s-color);
    margin: 1rem;
    color: #000;
    font-weight: 700;
    box-shadow: 0px 0px 10px 3px #fff;
    padding: 2rem;
    border-radius: 5px;
    min-height: 270px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    position: relative;
}

.tt{
    position: absolute;
    height: auto;
    /* bottom: 12%; */
    top: 15%;
    right: 0%;
    font-size: 10px;
    display: flex;
    width: 150px !important;
    align-items: center;
    justify-self: center;
}
.tt span{
    display: block;
}

.tt1{
    width: 40%;
}
.tt1 img{
    max-width: 25px;
    float: right;
    margin-right: 5px;
}

.tt2{
    width: 60%;
}

.note h1{
    font-family: 'Caveat', Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
    max-width: 65%;
    word-wrap: break-word;
}

.d-btn{
    padding: 0.5rem 1rem;
    background-color: var(--p-color);
    color: #fff;
    font-weight: bold;
    border:none;
    margin-top: auto;
    width: 120px;
    cursor: pointer;

}

.scale-down{
    transform: scale(0);
    transform-origin: 150% 180%;
    transition: transform 1s ease;

}

.input-wrapper{
    overflow: hidden;
}

.fade-in{
    animation: fadein 0.5s;
}
.fade-out{
    animation: fadeout 0.5s;
}

.your-notes{
    display: none;
    color: white;
    text-align:left;
    margin: 2rem 1rem 1rem 1rem;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.4;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.7;
    }
    75%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 720px){
    .note{
        width: 80%;
        margin: 0.5rem auto;
    }
    .input-wrapper{
        margin: 1rem;
    }
    .your-notes{margin: 2rem 0.5rem 1rem 2rem;}
}
@media (min-width: 721px) and (max-width: 1024px){
    .input-wrapper{
        margin: 2rem;
    }
    #notes{
        margin: 2rem;
    }
    .your-notes{text-align: center;}
    .note{width: 25%;}
}

.alert{
    color: white;
    padding: 0.7rem;
    display: block;
    min-width: 250px;
    margin-top: 1rem;
}

.error{
    background-color: red;
}
.success{
    background-color: green;
}
.info{
    background-color: var(--s-color);
    color: black;
}